/* About Us Page! */

body {
    line-height: 1.6;
    font-family: "Roboto Slab";
    background-color: #FFCB77;
    margin: 0;
    padding: 0;
}

.members-list {
    display: block;
    padding: 10px;
}

.team-member {
    padding: 1% 0% 1% 10%;
    background-color: #93bff5;
    border: 3px solid #4c86cd;
    border-radius: 10px;
    box-shadow: 0px 0px #19535F;
    transition: box-shadow 0.5s;
}

.team-member:hover {
    box-shadow: 5px 10px #19535F;
}

.team-member .member-photo {
    float: left;
    width: 20%;
}

.team-member .member-photo img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 15px;
}

.team-member .member-writeup {
    float: right;
    width: 80%;
}


/* Essentially tells the computer that for the next div element, clear the floats that were set on the page both sides */
.cleanout {
    clear: both;
}