button{
    background-color: #FFCB77;
    border-style: solid;
    border-color: #FFCB77;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}


button:hover {
    background-color: #ffb338;
    border-color: #ffb338;
    font-weight: bolder;
}


.popup {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: #19535F;
    color: #93bff5;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;    
    margin: 0;
    padding: 0;

}

.popup-content{
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.popup-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

}






/* below is the css for the download page as a whole, above is the css for the  popup */
body{
    background-color: #19535F;
    color: #93bff5;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;    
    margin: 0;
    padding: 0;

    
}

nav {
    background-color: #3DC0C1;
    padding: 10px 0;
    text-align: center;
}


.navTitle:hover{
    text-decoration: underline;
}

nav a {
    color: #FFFFFF;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
}