body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #cfe9ed;
    margin: 0;
    padding: 0;
}

header {
    background-color: #45b56e;
    padding: 10px 0;
    text-align: center;
}

#logo-image {
    height: 60px;
}

nav {
    background-color: #444;
    padding: 10px 0;
    font-weight: bold;
}

.page-items {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.page-items li {
    display: inline;
    margin-right: 20px;
}

.link-items {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.5s;
}

.link-items:hover {
    color: #D3F9B5;
}

main {
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}